.list-group-item {

    margin-bottom: 10px;
}


.inform{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container{
    margin-top: 2%;
}
.head{
    margin-bottom: 2%;
}
.btn{
    background-color: black;
    font-weight: bold;
    border: none
}