<div class="container">
    <form>
        <div class="form-row">
            <div class="col-7">
                <input type="text" class="form-control" placeholder="Nome...">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Nascimento...">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Rg...">
            </div>
        </div>
        <div style="margin-top: 2%" class="form-row">
            <div class="col-6">
                <input type="text" class="form-control" placeholder="Pai...">
            </div>
            <div class="col-6">
                <input type="text" class="form-control" placeholder="Mãe...">
            </div>
        </div>
        <div style="margin-top: 2%; margin-bottom: 2%" class="form-row">
                <div class="col-4">
                    <input type="text" class="form-control" placeholder="Endereço...">
                </div>
                <div class="col-3">
                    <input type="text" class="form-control" placeholder="Time...">
                </div>
                <div class="col-5">
                        <input type="text" class="form-control" placeholder="Observação...">
                    </div>
            </div>
    </form>

    <div style="justify-content: center; align-items: center; display: flex">
        <div style="margin-right: 1%">
            <button style="background-color: green; border: none" type="button" class="btn btn-danger">Salvar</button>
        </div>
        <div style="margin-left: 1%">
            <button style="background-color: black; border: none" type="button" class="btn btn-danger" routerLink="/listar-jogador">Voltar</button>
        </div>
    </div>