<div class="flex">

  <div class="login-box">

    <form [formGroup]="loginForm" (ngSubmit)="submit()" class="formGroup">
      <div class="form-group">
        <input formControlName="email" type="text" class="form-control" placeholder="Email">
      </div>

      <div class="password-box">
        <input formControlName="password" type="password" class="form-control" placeholder="Senha">
      </div>

      <button type="submit" class="btn btn-block btn-info">Login</button>

    </form>

  </div>


  <div class="alert" *ngIf="viewAlert">
    {{message}}
  </div>


</div>