<div class="container">
  <div class="jumbotron">

    <div class="form-model">

      <form action="" [formGroup]="jogadorForm">

        <input placeholder="Nome" type="text" formControlName="nome">
        <input placeholder="Data de Nascimento" type="text" formControlName="nascimento">
        <input placeholder="Nome da Mãe" type="text" formControlName="mae">
        <input placeholder="Nome do Pai" type="text" formControlName="pai">
        <input placeholder="RG" type="text" formControlName="rg">
        <input placeholder="Time" type="text" formControlName="time">
        <input placeholder="Endereço" type="text" formControlName="endereco">
        <input placeholder="Observação" type="text" formControlName="observacao">
        <button type="button" (click)="cadastraJogador()">Cadastrar</button>
      </form>
    </div>

    <div>
      <div>
        {{jogador | json}}
      </div>

      <form>
        <input id="numero" name="numero" type="number" [(ngModel)]="id" novalidate placeholder="Digite o id:">
        <button type="button" (click)="consultaJogador()">Consultar</button>
      </form>
    </div>
  </div>
</div>