<div class="container">
  <div class="jumbotron">

    <div class="form-group">

      <form action="" [formGroup]="jogadorForm">
        <div>
          <input class="form-control" placeholder="Nome" type="text" formControlName="nome">
        </div>

        <div>
          <input class="form-control" placeholder="Data de Nascimento" type="text" formControlName="nascimento">
        </div>

        <div>
          <input class="form-control" placeholder="Nome da Mãe" type="text" formControlName="mae">
        </div>

        <div>
          <input class="form-control" placeholder="Nome do Pai" type="text" formControlName="pai">
        </div>

        <div>
          <input class="form-control" placeholder="RG" type="text" formControlName="rg">
        </div>

        <div>
          <input class="form-control" placeholder="Time" type="text" formControlName="time">
        </div>

        <div>
          <input class="form-control" placeholder="Endereço" type="text" formControlName="endereco">
        </div>

        <div>
          <input class="form-control" placeholder="Observação" type="text" formControlName="observacao">
        </div>

        <div>
          <button type="button" (click)="cadastraJogador()">Cadastrar</button>
          <div style="margin-left: 1%">
            <button style="background-color: black; border: none" type="button" class="btn btn-danger" routerLink="">Voltar</button>
          </div>
        </div>
      </form>
    </div>

    <!-- <div>
      <div>
        {{jogador | json}}
      </div>

      <form>
        <input id="numero" name="numero" type="number" [(ngModel)]="id" novalidate placeholder="Digite o id:">
        <button type="button" (click)="consultaJogador()">Consultar</button>
      </form>
    </div>

    <app-lista-jogador></app-lista-jogador> -->
  </div>
</div>