<div class="container">
  <!-- <div class="jumbotron">

    <div class="form-group">

      <form action="" [formGroup]="jogadorForm">
        <div>
          <input class="form-control" placeholder="Nome" type="text" formControlName="nome">
        </div>

        <div>
          <input class="form-control" placeholder="Data de Nascimento" type="text" formControlName="nascimento">
        </div>

        <div>
          <input class="form-control" placeholder="Nome da Mãe" type="text" formControlName="mae">
        </div>

        <div>
          <input class="form-control" placeholder="Nome do Pai" type="text" formControlName="pai">
        </div>

        <div>
          <input class="form-control" placeholder="RG" type="text" formControlName="rg">
        </div>

        <div>
          <input class="form-control" placeholder="Time" type="text" formControlName="time">
        </div>

        <div>
          <input class="form-control" placeholder="Endereço" type="text" formControlName="endereco">
        </div>

        <div>
          <input class="form-control" placeholder="Observação" type="text" formControlName="observacao">
        </div>

        <div>
          <button type="button" (click)="cadastraJogador()">Cadastrar</button>
          <div style="margin-left: 1%">
            <button style="background-color: black; border: none" type="button" class="btn btn-danger" routerLink="">Voltar</button>
          </div>
        </div>
      </form>
    </div> -->

    <!-- <div>
      <div>
        {{jogador | json}}
      </div>

      <form>
        <input id="numero" name="numero" type="number" [(ngModel)]="id" novalidate placeholder="Digite o id:">
        <button type="button" (click)="consultaJogador()">Consultar</button>
      </form>
    </div>

    <app-lista-jogador></app-lista-jogador> -->
    <div class="container">
      <form [formGroup]="jogadorForm">
          <div class="form-row">
              <div class="col-7">
                  <input type="text" class="form-control" formControlName="nome" placeholder="Nome...">
              </div>
              <div class="col">
                  <input type="date" class="form-control" formControlName="nascimento" placeholder="Nascimento...">
              </div>
              <div class="col">
                  <input type="text" class="form-control" formControlName="rg" placeholder="Rg...">
              </div>
          </div>
          <div style="margin-top: 2%" class="form-row">
              <div class="col-6">
                  <input type="text" class="form-control" formControlName="pai" placeholder="Pai...">
              </div>
              <div class="col-6">
                  <input type="text" class="form-control" formControlName="mae" placeholder="Mãe...">
              </div>
          </div>
          <div style="margin-top: 2%; margin-bottom: 2%" class="form-row">
                  <div class="col-4">
                      <input type="text" class="form-control" formControlName="endereco" placeholder="Endereço...">
                  </div>
                  <div class="col-3">
                      <input type="text" class="form-control" formControlName="time" placeholder="Time...">
                  </div>
                  <div class="col-5">
                          <input type="text" class="form-control" formControlName="observacao" placeholder="Observação...">
                      </div>
              </div>
      </form>
  
      <div style="justify-content: center; align-items: center; display: flex">
          <div style="margin-right: 1%">
              <button style="background-color: green; border: none" type="button" (click)="cadastraJogador()" class="btn btn-danger">Salvar</button>
          </div>
          <div style="margin-left: 1%">
              <button style="background-color: black; border: none" type="button" class="btn btn-danger" routerLink="/listar-jogadores">Voltar</button>
          </div>
      </div>
  </div>
</div>